.main-section__list-container {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1rem;
  padding: 1rem;
}

.main-section__list-item {
  width: 20%;
  max-height: 400px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem;
  box-shadow: 0 0 5px var(--dark-red);
  border-radius: 5px;
  position: relative;
}

.main-section__list-item__icon-holder {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
}
.main-section__list-item__icon-holder a {
  text-decoration: none;
  color: inherit;
}


.main-section__list-item__edit-icon {
  border-radius: 50%;
  padding: 1rem;
}
.main-section__list-item__edit-icon:hover {
  background-color: var(--dark-blue);
  color: white;
}
.main-section__list-item__edit-icon:active {
  transform: scale(0.9);
}

@media (max-width: 1200px) {
  .main-section__list-item {
    width: 50%;
  }
}
@media (max-width: 630px) {
  .main-section__list-item {
    width: 100%;
  }
  .main-section__list-container {
    width: 100%;
    padding: 0.5rem;
  }
}

.main-section__list-item__image {
  width: 60px;
  height: 60px;
}
.main-section__list-item__title-static {
  font-size: 1rem;
  margin: 1rem 0;
  align-content: flex-start;
  width: 100%;
}

.main-section__list-item__desc-static {
  font-size: 1rem;
  margin: 1rem 0;
  align-content: flex-start;
  width: 100%;
}

.main-section__list-item__title-dynamic,
.main-section__list-item__desc-dynamic {
  width: 100%;
  min-height: 20px;
  align-content: flex-start;
}

.main-section__list-container__empty--state__div h1 {
  font-size: 2rem;
  color: var(--dark-red);
}
