<header class="header">
  <nav class="header__nav">
    <ul>
      <li><a href="/" class="<%= path === '/' ? 'active' : ''  %>">Todo</a></li>
      <li><a href="/admin/add-todo" class="<%= path === '/admin/add-todo' ? 'active' : ''  %>">Add Todo</a></li>
    </ul>
  </nav>
</header>