<header class="header">
  <nav class="header__nav">
    <ul>
      <a href="/" class="<%= path === '/' ? 'active' : '' %>"><li>Todo</li></a>
      <a
        href="/admin/add-todo"
        class="<%= path === '/admin/add-todo' ? 'active' : '' %>"
      >
        <li>Add Todo</li>
      </a>
    </ul>
  </nav>
</header>
