<%- include('includes/head.ejs') %> 

  </head>
  <body>
    <%- include('includes/nav.ejs') %> 
    <main>
      <h1 class="welcome-message">Page not found</h1>
    </main>
<%- include('includes/footer.ejs') %> 
