<%- include('includes/head.ejs') %> 
    <link rel="stylesheet" href="/css/add-todo.css" />
  </head>
  <body>
    <%- include('includes/nav.ejs') %> 
    <main>
      <form action="/admin/add-todo" method="POST"  class="add-todo__form">
        <div class="main__div__title">
          <label for="todo" class="main__div__title__label">Todo Title:</label>
          <input
            id="todo"
            type="text"
            name="todoTitle"
            class="main__div__title__input"
          />
        </div>
        <div class="main__div__description">
          <label for="todoDescription" class="main__div__description__label"
            >Todo Description:</label
          >
          <textarea
            name="todoDescription"
            cols="20"
            rows="2"
            class="main__div__description__textarea"
            id="todoDescription"
          ></textarea>
        </div>
        <p class="main__div__error-message"><%= submitError %> </p>
        <button type="submit">Add todo</button>
      </form>
    </main>
    <%- include('includes/footer.ejs') %> 
