<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Todo</title>
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/add-todo.css" />
  </head>
  <body>
    <header class="header">
      <nav class="header__nav">
        <ul>
          <li><a href="/">Todo</a></li>
          <li><a href="/admin/add-todo" class="active">Add Todo</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <form action="/admin/add-todo" method="POST">
        <div class="main__div__title">
          <label for="todo" class="main__div__title__label">Todo Title:</label>
          <input
            id="todo"
            type="text"
            name="todoTitle"
            class="main__div__title__input"
          />
        </div>
        <div class="main__div__description">
          <label for="todo" class="main__div__description__label"
            >Todo Description:</label
          >
          <textarea
            name="todoDescription"
            cols="20"
            rows="2"
            class="main__div__description__textarea"
          ></textarea>
        </div>
        <button type="submit">Add todo</button>
      </form>
    </main>
  </body>
</html>
